<%- include('../partials/header') %>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card mb-3">
            <div class="card-header">
                <h1><%= movie.title %></h1>
            </div>
            <div class="card-body">
                <h5 class="card-title">Genre: <%= movie.genre %></h5>
                <p class="card-text">Release Date: <%= movie.releaseDate.toLocaleDateString() %></p>
                <p class="card-text">Director: <%= movie.director %></p>
                <p class="card-text">Rating: <%= movie.rating %>/10</p>
                <h5 class="card-title">Review:</h5>
                <p class="card-text"><%= movie.review %></p>
                <p class="card-text"><small class="text-muted">Added by: <%= movie.author ? movie.author.username : 'Unknown User' %></small></p>
                
                <% if(currentUser && movie.author && movie.author._id.equals(currentUser._id)) { %>
                <div class="d-flex">
                    <a class="btn btn-warning me-2" href="/movies/<%= movie._id %>/edit">Edit</a>
                    <form action="/movies/<%= movie._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <% } %>
            </div>
        </div>
        <div class="mb-3">
            <a href="/movies" class="btn btn-info">Back to All Movies</a>
        </div